<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workhours">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Preview"
            android:label="@string/previewLabel"/>
        <activity
            android:name=".ShiftTable"
            android:label="@string/shiftsTableLabel" />
        <activity
            android:name=".Settings"
            android:label="@string/settingsLabel" />
        <activity android:name=".Shift" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.ShiftsProvider"
            android:authorities="com.example.workhours"
            android:exported="false" />
    </application>

</manifest>